body {
	width: 90%;
    margin: 15px 60px;
}

#json {
    font-size: 16px;
    color: #1f2e84;
}

.trash-options {
    text-align: left;
    line-height: 40px;
}

.form-horizontal .form-group {
    margin-left: 0px;
}