
<!doctype html>
<html lang="en" ng-app="formApp">
<head>
	<title>InMind Form Creation</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="inMind Form Creation"/>
	<meta name="author" content="Amandine Miceli">

  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="css/jquery-ui.min.css">
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
	<link type="text/css" rel="stylesheet" href="bower_components/select2/select2.css">
  <link type="text/css" rel="stylesheet" href="css/switchery.min.css">
  <link type="text/css" rel="stylesheet" href="css/pages.css">
  <link type="text/css" rel="stylesheet" href="css/app.css">

  <script src="js/libs/jquery.min.js"></script>
  <script src="js/libs/jquery-ui.min.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="js/libs/sortable.min.js"></script>
  <script src="js/libs/switchery.min.js"></script>
  <script src="js/app.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <h2>Formulaire candidat</h2>
  <div ng-controller="formCtrl">
    
    <hr>
    <div>
      <p id="json">{{form}}</p>
    </div>
    <hr>

    <!-- form input to add a new question -->
<!--     <form class="m-t-10 m-b-10" ng-submit="addQuestion()">
    </form> -->


    <div class="form-horizontal m-t-20" ng-model="form">

      <!-- Compulsory fields -->
      <div class="compulsory-fields col-xs-12">
        <div class="form-group">
          <div class="col-xs-10">
            <input type="email" id="email" class="form-control" value="Adresse e-mail" disabled="">
          </div>
          <label for="email" class="col-xs-2 control-label">Champ obligatoire</label>
        </div>

        <div class="form-group">
          <div class="col-xs-10">
            <input type="text" id="lastname" class="form-control" value="Nom" disabled="">
          </div>
          <label for="lastname" class="col-xs-2 control-label">Champ obligatoire</label>
        </div>

        <div class="form-group">
          <div class="col-xs-10">
            <input type="text" id="firstname" class="form-control" value="Prénom" disabled="">
          </div>
          <label for="firstname" class="col-xs-2 control-label">Champ obligatoire</label>
        </div>

        <div class="form-group">
          <div class="col-xs-10">
            <input type="text" id="phone" class="form-control" value="Numéro de téléphone" disabled="">
          </div>
          <label for="phone" class="col-xs-2 control-label">Champ obligatoire</label>
        </div>
      </div>

      <!-- Other questions -->
      <div id="{{ $index }}" class="col-xs-12 m-t-40 bg-white b-b b-t b-grey" ng-repeat="question in form">

          <!-- Question label -->
          <div class="form-group col-xs-12 m-b-20">
            <label for="question_{{ question.id }}_label" class="col-xs-1 control-label">Libellé</label>
            <div class="col-xs-9">
              <input type="text" id="question_{{ question.id }}_label" class="form-control" ng-model="question.label" placeholder="Libellé de la question">
            </div>

            <div class="col-xs-2">
              <div class="checkbox check-primary">
                <label for="question_{{ question.id }}_required">Champ obligatoire ?</label>
                <input type="checkbox" id="question_{{ question.id }}_required" name="question_{{ question.id }}_required" ng-model="question.required">
                {{ question.required }}
              </div>
            </div>
          </div>

          <!-- Question type -->
          <div class="form-group form-inline col-xs-12 m-t-10 required">
            <fieldset id="question_{{ question.id }}_type">
              <div class="radio radio-primary">
                <input type="radio" name="question_{{ question.id }}_type" id="text_type_question_{{ question.id }}" ng-model="question.type" ng-click="uncheckAllSubtypes($event, question.id)" value="text">
                <label for="text_type_question_{{ question.id }}">Texte</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" name="question_{{ question.id }}_type" id="date_type_question_{{ question.id }}" ng-model="question.type" ng-click="uncheckAllSubtypes($event, question.id)" value="date">
                <label for="date_type_question_{{ question.id }}">Date</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" name="question_{{ question.id }}_type" id="list_type_question_{{ question.id }}" ng-model="question.type" ng-click="uncheckAllSubtypes($event, question.id)" value="list">
                <label for="list_type_question_{{ question.id }}">Liste de choix</label>
              </div>
            </fieldset>
          </div>

          <div class="form-group" ng-show="question.type">
            <!-- if text, numeric type? -->
            <div id="question_{{ question.id }}_numeric" class="checkbox check-primary" ng-if="question.type == 'text'">
              <input type="checkbox" class="question_{{ question.id }}_subtype" name="question_{{ question.id }}_numeric" id="numeric_type_question_{{ question.id }}" value="numeric" ng-model="question.numeric">
              <label for="numeric_type_question_{{ question.id }}">Numérique</label>
            </div>

            <!-- if list, checkbox type? -->
            <div id="question_{{ question.id }}_checkbox" class="checkbox check-primary" ng-if="question.type == 'list'">
              <input type="checkbox" class="question_{{ question.id }}_subtype" name="question_{{ question.id }}_checkbox" id="checkbox_type_question_{{ question.id }}" value="checkbox" ng-model="question.checkbox">
              <label for="checkbox_type_question_{{ question.id }}">Question à choix multiples ?</label>
            </div>

            <!-- if list, autocomplete type? -->
            <div id="question_{{ question.id }}_autocomplete" class="checkbox check-primary" ng-if="question.type == 'list'">
              <input type="checkbox" class="question_{{ question.id }}_subtype" name="question_{{ question.id }}_autocomplete" id="autocomplete_type_question_{{ question.id }}" value="autocomplete" ng-model="question.autocomplete">
              <label for="autocomplete_type_question_{{ question.id }}">Avec auto-complétion ?</label>
            </div>

            <!-- if date, next month type? -->
            <div id="question_{{ question.id }}_nextmonth" class="checkbox check-primary" ng-if="question.type == 'date'">
              <input type="checkbox" class="question_{{ question.id }}_subtype" name="question_{{ question.id }}_nextmonth" id="nextmonth_type_question_{{ question.id }}" value="nextmonth" ng-model="question.nextmonth">
              <label for="nextmonth_type_question_{{ question.id }}">N'afficher que les 12 prochains mois ?</label>
            </div>
          </div>

          <!-- Question conditions -->
          <div class="form-group col-xs-12" id="question_{{ question.id }}_condition_{{ $index }}" ng-repeat="condition in question.conditions">

              <div class="col-xs-11">
                <div class="form-group required">
                  <label for="question_{{ question.id }}_condition_{{ $index }}_question">Uniquement si la réponse à la question :</label>
                  <select id="question_{{ question.id }}_condition_{{ $index }}_question" name="question_{{ question.id }}_condition_{{ $index }}_question" class="select2-container full-width required" data-init-plugin="select2" ng-options="question.label for question in form track by question.id" ng-disabled="" ng-model="condition" ng-change="updateQuestionCondition(question.id, $index, condition)">
                  </select>
                </div>

                <div class="form-group required">
                  <label for="question_{{ question.id }}_condition_{{ $index }}_answers">Se trouve parmi ces valeurs</label>
                  <select id="question_{{ question.id }}_condition_{{ $index }}_answers" name="question_{{ question.id }}_condition_{{ $index }}_answers" class="select2-container full-width required" multiple="multiple" ng-options="option.label for option in form[condition.id].options track by option.id" ng-disabled="!condition" ng-model="condition.answers" ng-change="updateQuestionConditionAnswers(question.id, $index, condition.answers)">
                  </select>
                </div>

              </div>

              <div class="col-xs-1 m-t-90 text-center">
                <span ng-click="deleteQuestionCondition(question.id, $index)"><i class="fa fa-trash fa-2x trash-options"></i></span>
              </div>

          </div>

          <!-- Add a new question condition -->
          <div class="form-group">
            <input class="btn btn-primary btn-cons" type="button" value="Ajouter une condition d'affichage pour la question" name="" ng-click="addQuestionCondition(question.id)">
          </div>

          <!-- Available options -->
          <div class="form-group" ng-model="checkbox_type" ng-if="question.type == 'list'">
            <h5>Valeurs possibles</h5>

            <div class="" ng-repeat="option in question.options">
              <div class="col-xs-11">
                <input class="form-control m-t-5" placeholder="Nom du champ" type="text" ng-model="option.label">
              </div>
              <div class="col-xs-1">
                <span ng-click="deleteOption(question.id, option.id)"><i class="fa fa-trash trash-options"></i></span>
              </div>
              <input class="btn btn-primary btn-cons m-t-10" type="button" value="Ajouter une condition d'affichage" ng-model="conditions">
            </div>

            <form class="" ng-submit="addOption(question.id)">
              <div class="col-xs-11">
                <input type="text" class="form-control m-t-5" ng-model="label" placeholder="Ajouter une option">
              </div>
            </form>
          </div>


      </div>
    
    </div>

    <!-- Add a new question -->
    <div class="">
      <input class="btn btn-primary btn-cons m-t-40" type="button" value="Ajouter une question" ng-click="addQuestion()">
    </div>

  </div>
</body>
</html>